/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-cgb-block-reputation-bar {
	.edit-post-settings-sidebar__panel-block
		.components-panel__body
		.components-base-control {
		width: 100%;
	}
	.edit-post-settings-sidebar__panel-block .repeater-row-wrapper {
		display: flex;
		flex-direction: row;
		align-items: stretch;
		border-bottom: 1px solid #e2e4e7;
		margin-bottom: 10px;
		padding-bottom: 5px;
		background: inherit;
	}
	.edit-post-settings-sidebar__panel-block .repeater-row-wrapper:last-child {
		border: none;
	}
	.edit-post-settings-sidebar__panel-block
		.components-panel__body
		.repeater-row-wrapper
		.components-base-control {
		margin: 0 0 0.5em;
	}
	.edit-post-settings-sidebar__panel-block .repeater-row-inner {
		flex: 1;
	}
	.edit-post-settings-sidebar__panel-block
		.repeater-row-wrapper
		.button-wrapper {
		margin-top: 23px;
		margin-bottom: 7px;
	}
	.edit-post-settings-sidebar__panel-block
		.repeater-row-wrapper
		.button-wrapper
		button {
		margin-left: 10px;
		display: block;
	}

	.edit-post-settings-sidebar__panel-block
		.repeater-row-wrapper
		.button-wrapper
		button.is-large {
		height: 100%;
	}
	.edit-post-settings-sidebar__panel-block .repeater-row-add.is-large {
		width: 100%;
		display: inline-block;
	}
}
